*{
    background-color: rgb(49, 0, 31);
    color: #fff;
}
.form{
    height: 100%;
}
.holder{
    display: flex;
    text-align: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    width: 16vw;
    height: 6vh;
    align-items: center;
    background-color: rgb(32, 3, 22);
    padding-left: 9vw;
    padding-right: 9vw;
    padding-bottom: 5vh;
    border-radius: 1vw;
}
input, select, button{
    border-radius: 60px;
    width: 12vw;
    height: 4vh;
    text-align: center;
    background: none;
    border: solid 2px rgb(31, 65, 87);
    transition: 0.3s;
}
span{
    margin-top: 2vh;
}
.send{
    margin-top: 5vh;
}

button:hover{
    background-color: rgb(73, 0, 46);
    width: 12vw;
    height: 4vh;
}
input, select, button:focus{
    width: 13vw;
    border: solid 2px rgb(43, 89, 119);
}
.resultado{
    font-size: 20px;
}

p{
    width: 90vw;
}
